@font-face {
    font-family: 'skeletor_stance';
    src: url('font/skeletor_stance-webfont.woff2') format('woff2'),
         url('font/skeletor_stance-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}