.body-abt {
    font-family: $stylin;
    width: 100%;
    height: 100%;
    background-color: $purple;
}
.main-abt {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    background-color: $light-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nyehbox {
    margin-top: 10vh;
    width: 30vw;
    height: 15vw;
    background: #FACD87;
    border: 1px solid #000000;
    text-align: center;
    justify-content: center;
}
.nyeh {
    padding-top: 0%;
    font-size: 10vw;
}

.largetextbox {
    margin-top: 10vh;
    width: 80%;
    background: #FACD87;
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 10%;
}
.titletext {
    font-size: 4rem;
    padding: 2%;
}
.largetext {
    font-size: 1.5rem;
    text-align: justify;
    padding: 3%;
}