.bottombar {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: $dark-color;
    @media screen and (min-width: 1440px) {
        top: 1950px;
        width: 100%;
    }
}

.bottomtext {
    @include bottom-bar-text;
    text-align: center;
    @media screen and (min-width: 1440px) {
        width: 280px;
        margin-top: 60px;
        margin-left: 580px;
    }
    margin-top: 60px;
}