.bottombar {
    height: 150px;
    width: 100%;
    background-color: $dark-color;
    margin-top: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bottomtext {
    @include bottom-bar-text;
    text-align: center;
    width: 20%;
    margin: 1px auto;
}