.background {
    @media screen and (min-width: 1440px) {
        background-image: url(../images/heroimage.svg);
        width: 1440px;
        height: 919px;
    }
    @media screen and (max-width: 1439px) {
        background: $light-color;
        height: 250px;
        width: 100%;
    }
}

.textsquare {
    background: $darker-color;
    @media screen and (min-width: 1440px) {
        position: absolute;
        width: 650px;
        height: 350px;
        left: 760px;
        top: 692px;
        background-color: rgba($color: $darker-color, $alpha: 0.3);;
    }
    @media screen and (max-width: 1439px) {
        margin: 1px auto;
        width: 310px;
        height: 200px;
        margin-top: 50px;
    }
}

.title {
    text-align: center;
    @media screen and (min-width: 1440px) {
        @include large-plain-text;
        padding-top: 6px;
        padding-bottom: 10px;
    }
    @media screen and (max-width: 1439px) {
        @include large-plain-text-small;
        padding-top: 10px;
        padding-bottom: 6px;
    }
}

.lorem {
    text-align: left;
    @media screen and (min-width: 1440px) {
        @include plain-text;
        padding-left: 38px;
        padding-right: 6px;
    }
    @media screen and (max-width: 1439px) {
        @include plain-text-small;  
        margin-top: 10px;
        padding-left: 16px;
        padding-right: 6px;
    }
}

.button {
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1440px) {
        @include button-plain-text;
        background-color: $darker-color;
        margin-left: 239px;
        margin-right: 239px;
        margin-top: 28px;
        padding-top: 18.5px;
        padding-bottom: 18.5px;
    }
    @media screen and (max-width: 1439px) {
        @include button-plain-text-small;   
        background-color: rgba($color: $light-text-color, $alpha: 0.3);
        width: 120px;
        height: 25px;
        margin-left: 95px;
        margin-top: 16px;
    }
}

.title-two {
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1440px) {
        @include large-text-section-two;
        margin-top: 92px;
    }
    @media screen and (max-width: 1439px) {
        @include large-text-section-two-small;
        margin-bottom: 20px;
    }
}

.gridding {
    display: grid;
    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        margin-left: 163px;
        margin-right: 165px;
        margin-top: 104px;
    }
    @media screen and (max-width: 1439px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }
}

.gridbox {
    text-align: left;
    @media screen and (max-width: 1439px) {
        margin-top: 30px;
        display: flex;
    }
}

.img-box-1 {
    @media screen and (min-width: 1440px) {
        background-image: url(../images/madeira.svg);
        height: 350px;
        width: 350px;
    }   
    @media screen and (max-width: 1439px) {
        background-image: url(../images/madeira-small.svg);
        margin-left: 40px;
        height: 117.2px;
        width: 117.2px;
    }
}

.img-box-2 {
    @media screen and (min-width: 1440px) {
        background-image: url(../images/sardinie.svg);
        height: 350px;
        width: 350px;
    }   
    @media screen and (max-width: 1439px) {
        background-image: url(../images/sardinie-small.svg);
        margin-left: 40px;
        height: 117.2px;
        width: 117.2px;
    }
}

.img-box-3 {
    @media screen and (min-width: 1440px) {
        background-image: url(../images/kypr.svg);
        height: 350px;
        width: 350px;
    }   
    @media screen and (max-width: 1439px) {
        background-image: url(../images/kypr-small.svg);
        margin-left: 40px;
        height: 117.2px;
        width: 117.2px;
    }
}

.island-text {
    width: 50vw;
    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.island-subtitle {
    text-align: center;
    @media screen and (min-width: 1440px) {
        @include large-underimage-text;
        margin-top: 20px;
    }
    @media screen and (max-width: 1439px) {
        display: none;
    }
}
.island-lorem {
    @media screen and (min-width: 1440px) {
        padding-left: 18px;
        padding-top: 22px;
        padding-right: 62px;
        @include underimage-text;
    }
    @media screen and (max-width: 1439px) {
        display: none;
    }
}

.island-subtitle-small {
    @media screen and (max-width: 1439px) {
        @include large-underimage-text-small;
        margin-top: 15px;
        margin-left: 20px;
    }
}

.island-lorem-small {
    @media screen and (max-width: 1439px) {
        @include underimage-text-small;
        padding-left: 18px;
        padding-top: 10px;
    }
}

.button-two
{
    text-align: center;
    @media screen and (min-width: 1440px) {
        @include button-plain-text;
        background-color: $darker-color;
        margin-left: 630px;
        margin-right: 630px;
        margin-top: 28px;
        padding-top: 18.5px;
        padding-bottom: 18.5px;
    }
    @media screen and (max-width: 1439px) {
        @include button-plain-text-small; 
        background-color: $darker-color;
        text-transform: uppercase;
        color: $light-text-color;
        width: 120px;
        height: 25px;
        margin: 8px auto;
    }
}