.topbar {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: stretch;
    align-content: normal;
    background-color: #CBC1B1;
}
.leftbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}
.rightbar {
    display: flex;
    width: 50%;
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: right;
        align-items: center;
    }
    @media screen and (max-width: 1439px) {
        justify-content: end;
    }
}
.logo {
    @media screen and (min-width: 1440px) {
        margin-left: 163px;
    }
}
.about {
    @media screen and (min-width: 1440px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50vw;
    }
    display: none;
}

.borgor {
    @media screen and (min-width: 1440px) {
        display: none;
    }
    @media screen and (max-width: 1439px) {
        margin-right: 40px;
        margin-top: 28px;
    }
}

a {
    @include bold-text;
    text-transform: uppercase;
    padding: 18px;
}
.current-button {
    background-color: adjust-color($darker-color, $alpha: -0.7);
    text-decoration: none;
}