.topbar {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: normal;
      align-content: normal;
  background-color: #CBC1B1;
}

.leftbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.rightbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

@media screen and (min-width: 1440px) {
  .rightbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1439px) {
  .rightbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    margin-left: 163px;
  }
}

.about {
  display: none;
}

@media screen and (min-width: 1440px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 50vw;
  }
}

@media screen and (min-width: 1440px) {
  .borgor {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .borgor {
    margin-right: 40px;
    margin-top: 28px;
  }
}

a {
  color: black;
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding: 18px;
}

.current-button {
  background-color: rgba(124, 116, 116, 0.3);
  text-decoration: none;
}

body {
  background-color: #E5E5E5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100vw;
  max-width: 100%;
}

.bottombar {
  height: 150px;
  width: 100%;
  background-color: #CBC1B1;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomtext {
  font-family: "Lato";
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  width: 20%;
  margin: 1px auto;
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url(../images/heroimage.svg);
    width: 1440px;
    height: 919px;
  }
}

@media screen and (max-width: 1439px) {
  .background {
    background: #E5E5E5;
    height: 250px;
    width: 100%;
  }
}

.textsquare {
  background: #7C7474;
}

@media screen and (min-width: 1440px) {
  .textsquare {
    position: absolute;
    width: 650px;
    height: 350px;
    left: 760px;
    top: 692px;
    background-color: rgba(124, 116, 116, 0.3);
  }
}

@media screen and (max-width: 1439px) {
  .textsquare {
    margin: 1px auto;
    width: 310px;
    height: 200px;
    margin-top: 50px;
  }
}

.title {
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .title {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 700;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 6px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1439px) {
  .title {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
  }
}

.lorem {
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .lorem {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 24px;
    padding-left: 38px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 1439px) {
  .lorem {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 6px;
  }
}

.button {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .button {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 600;
    font-size: 18px;
    background-color: #7C7474;
    margin-left: 239px;
    margin-right: 239px;
    margin-top: 28px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }
}

@media screen and (max-width: 1439px) {
  .button {
    color: black;
    font-family: "Lato";
    font-weight: 600;
    font-size: 11px;
    background-color: rgba(248, 247, 236, 0.3);
    width: 120px;
    height: 25px;
    margin-left: 95px;
    margin-top: 16px;
  }
}

.title-two {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .title-two {
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1439px) {
  .title-two {
    font-family: "Lato";
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 20px;
  }
}

.gridding {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1440px) {
  .gridding {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 163px;
    margin-right: 165px;
    margin-top: 104px;
  }
}

@media screen and (max-width: 1439px) {
  .gridding {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

.gridbox {
  text-align: left;
}

@media screen and (max-width: 1439px) {
  .gridbox {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .img-box-1 {
    background-image: url(../images/madeira.svg);
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 1439px) {
  .img-box-1 {
    background-image: url(../images/madeira-small.svg);
    margin-left: 40px;
    height: 117.2px;
    width: 117.2px;
  }
}

@media screen and (min-width: 1440px) {
  .img-box-2 {
    background-image: url(../images/sardinie.svg);
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 1439px) {
  .img-box-2 {
    background-image: url(../images/sardinie-small.svg);
    margin-left: 40px;
    height: 117.2px;
    width: 117.2px;
  }
}

@media screen and (min-width: 1440px) {
  .img-box-3 {
    background-image: url(../images/kypr.svg);
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 1439px) {
  .img-box-3 {
    background-image: url(../images/kypr-small.svg);
    margin-left: 40px;
    height: 117.2px;
    width: 117.2px;
  }
}

.island-text {
  width: 50vw;
}

@media screen and (min-width: 1440px) {
  .island-text {
    display: none;
  }
}

.island-subtitle {
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .island-subtitle {
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1439px) {
  .island-subtitle {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .island-lorem {
    padding-left: 18px;
    padding-top: 22px;
    padding-right: 62px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1439px) {
  .island-lorem {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .island-subtitle-small {
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1439px) {
  .island-lorem-small {
    font-family: "Lato";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    padding-left: 18px;
    padding-top: 10px;
  }
}

.button-two {
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .button-two {
    color: #F8F7EC;
    font-family: "Lato";
    font-weight: 600;
    font-size: 18px;
    background-color: #7C7474;
    margin-left: 630px;
    margin-right: 630px;
    margin-top: 28px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }
}

@media screen and (max-width: 1439px) {
  .button-two {
    color: black;
    font-family: "Lato";
    font-weight: 600;
    font-size: 11px;
    background-color: #7C7474;
    text-transform: uppercase;
    color: #F8F7EC;
    width: 120px;
    height: 25px;
    margin: 8px auto;
  }
}

.title-contact {
  text-transform: uppercase;
  text-align: center;
  margin-top: 65px;
}

@media screen and (min-width: 1440px) {
  .title-contact {
    font-family: "Lato";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (max-width: 1439px) {
  .title-contact {
    font-family: "Lato";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts-gridbox {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1440px) {
  .contacts-gridbox {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1439px) {
  .contacts-gridbox {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

.contacts-grid {
  background-color: rgba(124, 116, 116, 0.3);
}

.background-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1440px) {
  .background-inf {
    height: 724px;
  }
}

@media screen and (max-width: 1439px) {
  .background-inf {
    height: 608px;
  }
}

.gridbox-inf {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1440px) {
  .gridbox-inf {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 50%;
  }
}

@media screen and (max-width: 1439px) {
  .gridbox-inf {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 80%;
  }
}

.info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .info-button {
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 1439px) {
  .info-button {
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.info-txt {
  margin: auto;
}

@media screen and (min-width: 1440px) {
  .covid {
    background-image: url(../images/coronavirus.svg);
    margin: auto;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1439px) {
  .covid {
    background-image: url(../images/coronavirus-small.svg);
    margin: auto;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .luggage {
    background-image: url(../images/luggage.svg);
    margin: auto;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1439px) {
  .luggage {
    background-image: url(../images/luggage-small.svg);
    margin: auto;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .sale {
    background-image: url(../images/sale.svg);
    margin: auto;
    width: 108px;
    height: 100px;
  }
}

@media screen and (max-width: 1439px) {
  .sale {
    background-image: url(../images/sale-small.svg);
    margin: auto;
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .document {
    background-image: url(../images/document.svg);
    margin: auto;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1439px) {
  .document {
    background-image: url(../images/document-small.svg);
    margin: auto;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */