body {
    background-color: lightgray;
}

#clickButton {
    background-image: url(img/cursor.png);
    background-size: 150px 200px;
    background-repeat: no-repeat;
    height: 200px;
    width: 150px;
    position: absolute;
    left: 10%;
    top: 200px;
}

#clicks {
    position: absolute;
    left: 30%;
    top: 100px;
    font-size: 5rem;
}

#shopBox {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.shop {
    margin: 5px;
    padding: 5px;
    border: solid red;
    flex-direction: row;
}

#saveButtons {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    padding: 10px;
    font-size: 2rem;
    border: solid red;
}
#save {
    padding: 10px;
    border: solid blue;
}
#load {
    padding: 10px;
    margin-left: 10px;
    border: solid blue;
}